attrs==19.3.0
cytoolz==0.10.1
eth-hash==0.2.0
eth-typing==2.2.1
eth-utils==1.8.4
importlib-metadata==1.5.0
lru-dict==1.1.6
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pyrsistent==0.15.7
pyrum==0.1.0
pytest==5.4.1
pytest-asyncio==0.10.0
remerkleable==0.1.12
six==1.14.0
toolz==0.10.0
wcwidth==0.1.8
zipp==3.1.0
git+https://github.com/ethereum/eth2.0-specs@v0.11.1
git+https://github.com/protolambda/eth2fastspec.git
